* {
    margin: 0;
    padding: 0;
}

body {
    background-color: cornflowerblue;
}

a {
    text-decoration: none;
}

header {
    height: 64px;
    background-color: blanchedalmond;
    position: relative;
    padding: 1%;
}

.logo {
    display: inline-block;
    float: left;
    margin-right: 3%;
}

nav ul {
    float: left;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 30px;
}

nav li a {
    display: inline-block;
    line-height: 68px;
    letter-spacing: 1px;
    color: black;
    text-transform: uppercase;
}

#search {
    display: inline-block;
    height: 30px;
    margin: 19px;
    float: right;
    width: 200px;
    padding-left: 5px;
    overflow: hidden;
    font-style: italic;
}
.side_left {
    padding: 1%;
    width: 200px;
    height: 100%;
    float: left;
    padding-top: 1%;
    background-color: burlywood;
}
.user {
    display: flex;
    height: 48px;
    width: 100%;
    margin-top: 10px;
}

.user_avatar {
    float: left;

}

.user_avatar > img {
    height: 48px;
    width: 48px;
}

.user_name {
    padding-left: 1px;
    float: left;
    width: 80%;
    line-height: 48px;
}
.side_right {
    padding: 1%;
    width: 200px;
    height: 100%;
    float: right;
    padding-top: 1%;
    background-color: burlywood;
}
.new {
    display: flex;
    height: 48px;
    width: 100%;
    margin-top: 10px;
}

.new_avatar {
    float: left;

}

.new_avatar > img {
    height: 48px;
    width: 48px;
}

.new_name {
    padding-left: 1px;
    float: left;
    width: 80%;
    line-height: 48px;
}
