* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
    height: 100vh;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    display: inline-block;
    background-color: blanchedalmond;
    position: relative;
    padding: 0 2%;
}

.logo {
    display: inline-block;
    float: left;
    margin-right: 3%;
}

nav ul {
    float: left;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav li a {
    display: inline-block;
    line-height: 68px;
    letter-spacing: 1px;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
}

#menu-toggle {
    float: right;
    width: 46px;
    height: 46px;
    margin: 10px 0;
    background-color: white;
    display: none;
    cursor: pointer;
}

.display-menu {
    display: block;
}

#search {
    height: 48px;
    margin: 10px 0;
    float: right;
    width: 25%;
    font-style: italic;
}

.container {
    height: calc(100vh - 72px);
}

.side {
    padding: 1%;
    width: 200px;
    height: 100%;
    float: left;
    padding-top: 1%;
    background-color: burlywood;
}

.user {
    display: flex;
    height: 48px;
    width: 100%;
    margin-top: 10px;
}

.user_avatar {
    float: left;

}

.user_avatar > img {
    height: 48px;
    width: 48px;
}

.user_name {
    padding-left: 5%;
    float: left;
    width: 80%;
    line-height: 48px;
}

.content {
    background-color: blueviolet;
    width: calc(100% - 200px);
    height: 100%;
    float: left;
}

.main {
    width: calc(100% - 350px);
    height: 100%;
    float: left;
    padding: 1%;
}

.new_content {
    width: 100%;
    background-color: yellowgreen;
}

.new_content > img {
    width: 100%;
    height: 100%;
}

.new_description {
    height: 70px;
    background-color: white;
    padding: 2%;
}

.chat {
    position: relative;
    padding: 1%;
    width: 350px;
    height: 100%;
    float: left;
    background-color: darkseagreen;
}

.chat-messages {
    height: 94%;
}

.chat-message {
    margin-bottom: 3%;
}


.input-message > input {
    width: 100%;
    height: 60px;
}

@media (max-width: 1280px) {
    .side {
        background-color: aquamarine;
        width: 70px;
    }

    .side_header {
        display: none;
    }

    .user_name {
        display: none;
    }

    .content {
        width: calc(100% - 70px);
    }
}

@media (max-width: 1000px) {

    nav ul {
        position: absolute;
        left: 0;
        top: 68px;
        z-index: 10;
        display: none;
        width: 100%;
    }

    nav ul li {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        background-color: coral;
        border-top: 1px solid white;
    }

    nav li a {
        line-height: 48px;
    }

    #menu-toggle {
        display: block;
    }

    #search {
        float: left;
        width: 50%;
    }

    .content {
        padding: 1%;
        height: 100%;
        max-height: 100%;
        overflow-y: scroll;
    }

    .main {
        width: 100%;
        height: auto;
        margin-bottom: 3%;
        padding: 0;
    }

    .new_description {
        height: 100px;
    }

    .chat {
        width: 100%;
        height: auto;
    }

    .chat-messages {
        height: auto;
    }
}

@media (max-width: 540px) {
    .side {
        display: none;
    }

    .content {
        width: 100%;
    }
}
